@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background: #222;
}
.kontainer {
    width: 600px;
    text-align: center;
    margin: 10px auto;
    padding: 30px;
    background: rgb(105, 119, 163);
    color: #222;
    font-family: 'Playfair Display', serif;
}
h1 {
    font-size: 50px;
}
.bild {
    width: 400px;
    padding: 50px;
    margin: auto;
}
.bild img {
    width: 100%;
    border: 10px solid #FFF;
}
.bild p {
    background: #FFF;
    padding: 10px;
}
button {
    border: none;
    padding: 10px;
    background: green;
    border-radius: 5px;
    color: #FFF;
}
button:hover {
    background: greenyellow;
}