body {
    background: #212121 url('bilder/chuttersnap-299121-unsplash.jpg');
    background-size: 2000px;;
}
.kontainer {

}
label {
    width: 100px;
    display: inline-block;
    text-align: right;
}
input {

}
.svar {

}
button {
    
}