/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Exo', sans-serif;
    background: #000;
    color: #FFF;
}
.kontainer {
    padding: 50px;
    width: 700px;
    margin: 100px auto;
    background: #666;
    border-radius: 20px;
}
h1, h3 {
    margin: 20px 0;
}
.kolumner {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: space-between;
}
label {
    margin: 10px 0;
    padding: 5px;
    width: 120px;
    display: inline-block;
    text-align: right;
}
button {
    width: 100px;
    border: 2px solid #FFF;
    padding: 5px;
    background: #000;
    color: #FFF;
    border-radius: 20px;
}
button:hover {
    background: #555    ;
}
button:active {
    background: #999;
}
.output {
    background: #FFF;
    padding: 10px;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5px;
}
img {
    width: 300px;
    border: 10px solid #FFF;
    filter: url('bilder/gautier-salles-1106358-unsplash.jpg');
}
.suddigt {
    filter: blur(5px);
}
.graskala {
    filter: grayscale(80%);
}
.sepia {
    filter: sepia(60%);
}
