@import url('https://fonts.googleapis.com/css?family=Parisienne');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}
.kontainer {
    width: 800px;
    margin: 30px auto;
    font-family: 'Parisienne', cursive;
    background: crimson;
    color: #FFF;
    text-align: center;
    border-radius: 10px;
    padding: 50px;
}
h1 {
    font-size: 80px;
    margin-bottom: 20px;
}
.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.dag {
    width: 80px;
    height: 80px;
    background: rgb(11, 78, 11);
    margin: 5px;
    border-radius: 5px;
    font-size: 40px;
    padding-top: 15px;
    cursor: pointer;
    transition-duration: 1s;
}
.dag:hover {
    background: rgb(40, 146, 40);
}
.bild {
    background: #000;
}