@import url('https://fonts.googleapis.com/css?family=Rubik');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

.kontainer {
    font-family: 'Rubik', sans-serif;
    width: 800px;
    margin: 20px auto;
}
h1 {
    text-align: center;
    font-size: 50px;
}
.yta {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    background: rgba(255, 255, 255, 0.178);
    padding: 50px;
    background-repeat: no-repeat;
    background-position: center;
}
i {
    font-size: 50px;
    cursor: pointer;
}
.bild img {
    width: 600px;
}
.fas {
    color: #000;
}