/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

.kontainer {
    width: 700px;
    padding: 50px;
    margin: 50px auto;
    border-radius: 20px;
}
.kolumner {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
}
button {
    padding: 10px;
    width: 100px;
    background: rgb(105, 105, 105);
    border: 2px solid #FFF;
    color: #FFF;
    border-radius: 20px;
    cursor: pointer;
}
button:hover {
    background: #555;
}
button:active {
    background: #999;
}
.output {
    background: #FFF;
    color: #000;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
}
img {
    width: 300px;
    border: 10px solid #FFF;
    filter: url('bilder/gautier-salles-1106358-unsplash.jpg');
}
.suddigt {
    filter: blur(5px);
}
.graskala {
    filter: grayscale(80%);
}
.sepia {
    filter: sepia(80%);
}