@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body {
    background: #888;
}
.kontainer {
    width: 450px;
    padding: 20px;
    background: url("bilder/bg.png");
    font-family: 'Dancing Script', cursive;
    margin: 50px auto;
}
h1, h2, h3 {
    margin-top: 10px;
}
label {

}
input {
    width: 100px;
}
button {

}
.grid {
    display: grid;
    grid-template-columns: auto auto;
}
p {
    margin-right: 50px;
    padding: 10px;
}
.smaVara {
    background: rgb(169, 211, 179);
}
.storaVara {
    background: rgb(169, 211, 179);
}
.smaTot {
    background: rgb(42, 102, 56);
}
.storaTot {
    background: rgb(42, 102, 56);
}