@import url('https://fonts.googleapis.com/css?family=Bitter|Libre+Baskerville');

/* Enkel CSS-reset */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

body.pattern1 {
    background: url("./bilder/p1.jpg");
}
body.pattern2 {
    background: url("./bilder/p2.jpg");
}
body.pattern3 {
    background: url("./bilder/p3.jpg");
}
div {
    width: 600px;
    background: #FFF;
    border: 5px dashed #000;
    margin: 100px auto 0 auto;
    padding: 80px;
    border-radius: 10px;
}
h1 {
    font-family: 'Bitter', serif;
    font-size: 40px;
}
p {
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
    margin: 20px 0;
}
a {
    text-decoration: none;
    color: #000;
    font-size: 50px;
}